<!--

  Generated template for the HomePage

-->
<ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-card text-center>
      <div class="col text-center">
          <b>Assignments for {{neatDate(selectedDate)}}</b>
          <br>
          <span *ngIf="selectedDate?.events.length!=0">
            Homework Time Needed Today: {{neatTime(dayTotalTime(selectedDate.events))}}
          </span>
      </div>
    </ion-card>
  
  <ion-card>
    <ion-list class="event-detail-container" has-bouncing="true" *ngIf="showEventDetail" overflow-scroll="false">
      <ion-item *ngFor="let event of selectedDate?.events" text-wrap> 
        <!-- <span class="event-detail"> {{event.title}} : <span style="color:#e4a548;">{{event.predictedTime}} Minutes</span> </span> -->
        <div ion-content class="flex-col" (click)="onEventSelected(event)">
            <span class="event-detail">Assignment: {{event.title}}</span>
            <br>
            <span class="event-detail">Predicted Time: {{neatTime(event.predictedTime/(event.endTime.getDate()-event.startTime.getDate() + 1) - event.timeSpent)}} </span>
            <br>
            <span class="event-detail">Time Spent: {{neatTime(event.timeSpent)}}</span> 
        </div>
      </ion-item>
      
      <ion-item *ngIf="selectedDate?.events.length==0">
        <div class="no-events-label">No Assignments</div>
      </ion-item>

    </ion-list>
  </ion-card>
</ng-template>

<ng-template #template2 let-view="view" let-row="row" let-col="col" let-selectedDate="selectedDate">

  <div class="circle-responsive-heavy" *ngIf="dayTotalTime(view.dates[row*7+col].events)>180">
      <div class="circle-content">
          {{view.dates[row*7+col].label}}
      </div>    
  </div>

  <div class="circle-responsive-medium" *ngIf="dayTotalTime(view.dates[row*7+col].events)<180 && dayTotalTime(view.dates[row*7+col].events)>120">
      <div class="circle-content">
          {{view.dates[row*7+col].label}}
      </div>    
  </div>

  <div class="circle-responsive-light" *ngIf="dayTotalTime(view.dates[row*7+col].events)<120 && dayTotalTime(view.dates[row*7+col].events)>0">
      <div class="circle-content">
          {{view.dates[row*7+col].label}}
      </div>    
  </div>

  <div *ngIf="dayTotalTime(view.dates[row*7+col].events)==0">
      {{view.dates[row*7+col].label}}
  </div>

</ng-template>


<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <calendar [monthviewEventDetailTemplate]="template"
        [monthviewDisplayEventTemplate]="template2"
        [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        step="30"
        class="calendar">
  </calendar>
</ion-content>